.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background-color: #E3E4FA;
    color: rgb(24, 24, 75);
}

.brand-top {
    padding: 10px 0px 10px 0px;
    margin: 0px auto;
    background-color: rgb(24, 24, 75);
    color: floralwhite;
}

.navbar-brand {
    margin: 0px auto;
    font-size: 30px;
    background-color: rgb(24, 24, 75);
    color: floralwhite;
}

.navbar-center {
    position: relative;
    left: 50%;
    transform: translatex(-50%);
}

.nav-link {
    margin: 0px 10px 0px 10px;
}

.navbar-dark {
    background-color: rgb(24, 24, 75);
    color: floralwhite;
}

#mycarousel {
    padding: 50px 0px 0px 0px;
    z-index: 0; 
}

.carousel .carousel-item {
    height: 500px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }
  
  #carouselButton {
    right: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 1; }

.footer {
    margin: 0px auto;
    padding: 20px 0px; 
    border-top: solid rgba(128, 128, 128, 0.24);
}
